config BACKPORT_BRCMUTIL
	tristate
	depends on m

config BACKPORT_BRCMSMAC
	depends on n
	tristate "Broadcom IEEE802.11n PCIe SoftMAC WLAN driver"
	depends on m
	depends on MAC80211
	depends on BCMA_POSSIBLE
	depends on BCMA
	select NEW_LEDS if BCMA_DRIVER_GPIO
	select LEDS_CLASS if BCMA_DRIVER_GPIO
	select BRCMUTIL
	depends on FW_LOADER
	select BPAUTO_CORDIC
	---help---
	  This module adds support for PCIe wireless adapters based on Broadcom
	  IEEE802.11n SoftMAC chipsets. It also has WLAN led support, which will
	  be available if you select BCMA_DRIVER_GPIO. If you choose to build a
	  module, the driver will be called brcmsmac.ko.

config BACKPORT_BRCMFMAC
	tristate "Broadcom FullMAC WLAN driver"
	depends on m
	depends on BACKPORT_CFG80211
	select BACKPORT_BRCMUTIL
	---help---
	  This module adds support for wireless adapters based on Broadcom
	  FullMAC chipsets. It has to work with at least one of the bus
	  interface support. If you choose to build a module, it'll be called
	  brcmfmac.ko.

config BRCMFMAC_PROTO_BCDC
	bool

config BRCMFMAC_PROTO_MSGBUF
	bool

config BACKPORT_BRCMFMAC_SDIO
	bool "SDIO bus interface support for FullMAC driver"
	depends on (MMC = y || MMC = BACKPORT_BRCMFMAC)
	depends on BACKPORT_BRCMFMAC
	select BACKPORT_BRCMFMAC_PROTO_BCDC
	depends on FW_LOADER
	default y
	---help---
	  This option enables the SDIO bus interface support for Broadcom
	  IEEE802.11n embedded FullMAC WLAN driver. Say Y if you want to
	  use the driver for a SDIO wireless card.

config BRCMFMAC_USB
	bool "USB bus interface support for FullMAC driver"
	depends on (USB = y || USB = BACKPORT_BRCMFMAC)
	depends on BACKPORT_BRCMFMAC
	select BACKPORT_BRCMFMAC_PROTO_BCDC
	depends on FW_LOADER
	---help---
	  This option enables the USB bus interface support for Broadcom
	  IEEE802.11n embedded FullMAC WLAN driver. Say Y if you want to
	  use the driver for an USB wireless card.

config BRCMFMAC_PCIE
	bool "PCIE bus interface support for FullMAC driver"
	depends on BACKPORT_BRCMFMAC
	depends on PCI
	depends on HAS_DMA
	select BACKPORT_BRCMFMAC_PROTO_MSGBUF
	depends on FW_LOADER
	---help---
	  This option enables the PCIE bus interface support for Broadcom
	  IEEE802.11ac embedded FullMAC WLAN driver. Say Y if you want to
	  use the driver for an PCIE wireless card.

config BACKPORT_BRCM_TRACING
	bool "Broadcom device tracing"
	depends on BACKPORT_BRCMSMAC || BACKPORT_BRCMFMAC
	---help---
	  If you say Y here, the Broadcom wireless drivers will register
	  with ftrace to dump event information into the trace ringbuffer.
	  Tracing can be enabled at runtime to aid in debugging wireless
	  issues. This option adds a small amount of overhead when tracing
	  is disabled. If unsure, say Y to allow developers to better help
	  you when wireless problems occur.

config BACKPORT_BRCMDBG
	bool "Broadcom driver debug functions"
	depends on BACKPORT_BRCMSMAC || BACKPORT_BRCMFMAC
	select BACKPORT_BPAUTO_WANT_DEV_COREDUMP
	---help---
	  Selecting this enables additional code for debug purposes.

config BACKPORT_BRCMFMAC_ANDROID
	bool "brcmfmac android support"
	depends on BACKPORT_BRCMFMAC
	---help---
	  If you say Y here, the FMAC driver will support Android mode

config BACKPORT_BRCM_INSMOD_NO_FW
	bool "insmod module without loading firmware"
	depends on BACKPORT_BRCMFMAC_ANDROID
	---help---
	  If you say Y here, the FMAC driver will not load firmware when
	  inserting the module, it only create wlan interface. Firmware
	  will be loaded when wlan interface up.

config BACKPORT_NV_CUSTOM_SYSFS_TEGRA
	bool "Custom sysfs for Tegra platform"
	depends on BACKPORT_BRCMFMAC
	default y
	---help---
	  Enable custom sysfs for Tegra platform.

config BACKPORT_NV_CUSTOM_CAP
	bool "NvCap support for Tegra platform"
	depends on BACKPORT_NV_CUSTOM_SYSFS_TEGRA
	default y
	---help---
	  Enable custom NvCap support for Tegra platform.

config BACKPORT_BRCMFMAC_NV_IDS
	bool "Nv IDS support for Tegra platform"
	depends on BACKPORT_NV_CUSTOM_SYSFS_TEGRA
	default y
	---help---
	  Enable NV IDS support for Tegra platform.

config BACKPORT_NV_CUSTOM_SCAN
	bool "scan optimization support"
	depends on BACKPORT_NV_CUSTOM_SYSFS_TEGRA
	default y
	---help---
	  Enable custom scan optimization support for Tegra platform.

config BACKPORT_NV_NET_BW_EST_TEGRA
	bool "bandwidth estimation support for netdiag"
	depends on BACKPORT_NV_NET_DIAG_TEGRA
	depends on BACKPORT_NV_CUSTOM_SYSFS_TEGRA
	default y
	---help---
	  Enable bandwidth estimation support for netdiag

config BACKPORT_NV_NET_DIAG_TEGRA
	bool "netdiag support"
	depends on BACKPORT_BRCMFMAC_ANDROID
	depends on BACKPORT_NV_CUSTOM_SYSFS_TEGRA
	default y
	---help---
	  Enable netdiag support

config BACKPORT_NV_CUSTOM_RF_TEST
	bool "RF test support for Tegra platform"
	depends on BACKPORT_NV_CUSTOM_SYSFS_TEGRA
	default y
	---help---
	  Enable RF test support for Tegra platform.
