config BACKPORT_NFC_PN544
	tristate
	depends on !NFC_PN544
	depends on CRC_CCITT
	---help---
	  NXP PN544 core driver.
	  This is a driver based on the HCI BACKPORT_NFC kernel layers and
	  will thus not work with NXP libnfc library.

config BACKPORT_NFC_PN544_I2C
	tristate "NXP PN544 device support (I2C)"
	depends on !NFC_PN544_I2C
	depends on BACKPORT_NFC_HCI && I2C && BACKPORT_NFC_SHDLC
	select BACKPORT_NFC_PN544
	---help---
	  This module adds support for the NXP pn544 i2c interface.
	  Select this if your platform is using the i2c bus.

	  If you choose to build a module, it'll be called pn544_i2c.
	  Say N if unsure.

config BACKPORT_NFC_PN544_MEI
	tristate "NXP PN544 device support (MEI)"
	depends on !NFC_PN544_MEI
	depends on BACKPORT_NFC_HCI && BACKPORT_NFC_MEI_PHY
	select BACKPORT_NFC_PN544
	---help---
	  This module adds support for the mei interface of adapters using
	  NXP pn544 chipsets.  Select this if your pn544 chipset
	  is handled by Intel's Management Engine Interface on your platform.

	  If you choose to build a module, it'll be called pn544_mei.
	  Say N if unsure.
